* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6fb;
}

/* ================= TOPBAR ================= */

.topbar {
  height: 90px;
  background: #19376d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  font-size: 20px;
}

.title {
  font-size: 20px;
}

.profile img {
  border-radius: 50%;
}

/* ================= LAYOUT ================= */

.container {
  display: flex;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}

/* ================= SIDEBAR ================= */

.sidebar {
  width: 220px;
  background: #2e4374;
  padding-top: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar nav a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  font-size: 20px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  background: #006cbf;
}

/* ================= MAIN ================= */

.main {
  flex: 1;
  padding: 40px;
}

/* ================= WELCOME BANNER ================= */

.welcome-banner {
  background: linear-gradient(120deg, #0b1f4b, #1a56db);
  border-radius: 20px;
  padding: 60px;
  margin-bottom: 50px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-stats {
  display: flex;
  gap: 20px;
}

.stat-pill {
  background: rgba(255,255,255,0.15);
  padding: 12px 20px;
  border-radius: 12px;
  text-align: center;
}

.stat-pill .val {
  font-size: 20px;
  font-weight: bold;
}

/* ================= CARDS ================= */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: 0.3s;

  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.card:hover {
  transform: translateY(-6px);
}

/* IMAGE */

.card-img-wrap {
  height: 150px;
  overflow: hidden;
}

.card-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BODY */

.card-body {
  padding: 15px;
  flex: 1;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

/* BUTTON */

.card-btn {
  background: #19376d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  margin-left: 120px;
}

.card-btn:hover {
  background: #0b2447;
}

span{
  color: skyblue;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {

  .cards-grid {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

}