* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6fb;
}

/* Topbar */
.topbar {
  height: 90px;
  background: #19376d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  font-size: 20px;
}

.title {
  font-size: 20px;
}

.profile img {
  border-radius: 50%;
}

/* Layout */
.container {
  display: flex;
  height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #2e4374;
  padding-top: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap:50px
}

.sidebar nav a {
  text-decoration: none;
  color: white;
  padding: 20px 25px;
  font-size: 20px;
  transition: 0.3s;
  
}

.sidebar nav a:hover {
  background: #006cbf;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

/* Welcome Banner */
.welcome-banner {
  background: linear-gradient(120deg, #0b1f4b, #1a56db);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.welcome-stats {
  display: flex;
  gap: 20px;
}

.stat-pill {
  background: rgba(255,255,255,0.15);
  padding: 12px 20px;
  border-radius: 12px;
  text-align: center;
}

.stat-pill .val {
  font-size: 20px;
  font-weight: bold;
}

/* Cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  gap: 25px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 120%;
  width: 90%;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img-wrap {
  height: 150px;
  overflow: hidden;
}

.card-img-wrap img {
  width: 100%;;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  flex: 1;
  /* display: flex;
  flex-direction: column; */
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-desc {
  flex: 1;
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.card-btn {
  background: #19376d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 130px;
}

.card-btn:hover {
  background: #0b2447;
}
span{
  color:skyblue;
}

@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}