* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7fb;
}

/* NAVBAR */
.navbar {
  background: #0c2b63;
  color: white;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}


/* AUTH */
.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.auth-box {
  background: white;
  width: 400px;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.role-toggle {
  display: flex;
  background: #eef2f7;
  border-radius: 30px;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 30px;
}

.role-toggle .active {
  background: white;
  font-weight: bold;
}

/* INPUT + SELECT */
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
}

select {
  color: #000;              /* text visible */
  background-color: #fff;
}

select option {
  color: #000;              /* option text */
  background: #fff;
}


.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #0c2b63;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  margin-top: 350px;
  background: #0c2b63;
  color: white;
  padding: 20px;
  text-align: center;
}
